# Bob
.bob

# Java #

*/war/WEB-INF/classes
*.class

# Mobile Tools for Java (J2ME)
*.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
*hs_err_pid*

# Maven #

*target/
*pom.xml.tag
*pom.xml.releaseBackup
*pom.xml.versionsBackup
*pom.xml.next
*release.properties
*dependency-reduced-pom.xml
*buildNumber.properties
*.mvn/timing.properties

# vs code
.vscode

# IntelliJ #
*.iml
*.idea/
*.idea/*

# Eclipse #

*.metadata
*bin/
*tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
*.settings
*.loadpath
*.recommenders

# Eclipse Core
*.project

# External tool builders
*.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
*.cproject

# JDT-specific (Eclipse Java Development Tools)
*.classpath

# Java annotation processor (APT)
*.factorypath

# PDT-specific (PHP Development Tools)
*.buildpath

# sbteclipse plugin
*.target

# Tern plugin
*.tern-project

# TeXlipse plugin
*.texlipse

# STS (Spring Tool Suite)
*.springBeans

# Code Recommenders
*.recommenders/

# PMD #
*.pmd

artifacts/
coverage-reports/
deployment/

# Loggers
*default_*.log
*.log.*
*.log

# lock file
charts/*/charts/
charts/*/requirements.lock
package-lock.json

# As part of the intergation test, RequiredElements is copied to the testsuite folder for testing purposes only
*testsuite/integration/jee/src/test/resources/RequiredElements.json
*testsuite/integration/jee/src/test/resources/RequiredKpis.json

# node_modules
node_modules/

# js code coverage
*.nyc_output/
*eric-frequency-layer-manager-policy/coverage/

# Policy
FrequencyLayerManagerPolicy.json
*eric-frequency-layer-manager-jar/src/main/resources/policy/PerformanceAssurancePolicy.json